.main{
    width: 100vw;
    height: 100vh;
    padding-top: 70px;
    display: flex;
}

.container{
    width: 70%;
    margin: auto;
    display: flex;
    flex-direction: column;
    background-color: #dfd7c5;
    padding: 25px;
    gap: 5rem;
}